<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="InventoryFilePath" value="data/Inventory.yaml" />
    <add key="InventoryCustomItemsFilePath" value="data/InventoryCustomItems.yaml" />
    <add key="LandmarksFilePath" value="data/Landmarks.yaml" />
    <add key="OccurrencesFilePath" value="data/Occurrences.yaml" />
    <add key="PacesFilePath" value="data/Paces.yaml" />
    <add key="RandomNamesFilePath" value="data/RandomNames.yaml" />    
    <add key="RationsFilePath" value="data/Rations.yaml" />
    <add key="StatusesFilePath" value="data/Statuses.yaml" />

  </appSettings>
</configuration>