<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="PacesFilePath" value="data/Paces.yaml" />
    <add key="LandmarksFilePath" value="data/Landmarks.yaml" />
    <add key="OccurrencesFilePath" value="data/Occurrences.yaml" />
    <add key="RationsFilePath" value="data/Rations.yaml" />
    <add key="RandomNamesFilePath" value="data/RandomNames.yaml" />
    <add key="OccurrencesFilePath" value="data/Occurrences.yaml" />

  </appSettings>
</configuration>