@using DestinyTrail.Engine
@using DestinyTrail.Blazor.Components
@using DestinyTrail.Engine.Abstractions
@inject HttpClient HttpClient

<h3>MainGame</h3>

<input @bind="commandInput" placeholder="Enter command..." />
<button @onclick="() => inputHandler.ProcessCommandAsync(commandInput)">Submit</button>

<BlazorDisplay Heading="Output" @ref="outputDisplay"></BlazorDisplay>

<BlazorDisplay Heading="Status" @ref="statusDisplay"></BlazorDisplay>

